.containerCities {
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-top: 20px;
}

.city-card {
  width: 100%;
  margin: 10px;
}

.cityCards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin: auto;
  width: 80%;
  max-width: 1200px;
}

.css-et1ao3-MuiTypography-root{
  font-size: 1.4rem!important;
}

.css-z2eky3-MuiTypography-root {
  font-size: 0.875rem !important;
  text-align: justify;
}

.details-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3e71c8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.details-link:hover {
  background-color: #9a9999;
  color: #050505;
}

.details-link:focus {
  outline: none;
}

.containerCities img {
  width: 40%;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 5px;
}


.containerCities .cityDetails {
  margin-left: 20px;
  margin: 40px;
}

.containerCities .cityDetails h3 {
  margin-bottom: 10px;
}

.containerCities .cityDetails p {
  margin: 5px 0;
}

.containerCities .cityDetails .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin-left: 20px;
  overflow: hidden;
}

.containerCities .cityDetails .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerCities .cityDetails .name-avatar-wrapper {
  display: flex;
  align-items: center;
}

.containerCities .cityDetails .name-avatar-wrapper .avatar {
  margin-right: 10px;
}

.containerCities .cityDetails .name-avatar-wrapper h3 {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
}

.containerCities .cityDetails p.country {
  font-size: 24px;
  font-weight: bold;
}

.containerCities .cityDetails p.continent {
  font-size: 22px;
}

.containerCities .cityDetails p.description {
  max-width: 500px;
  text-align: justify;
}

.itineraryLink {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3e71c8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
}

