.containerCities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.city-card {
  width: 100%;
  margin: 10px;
}

.cityCards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin: auto;
  width: 80%;
  max-width: 1200px;
}

.css-et1ao3-MuiTypography-root{
  font-size: 1.4rem!important;
}

.css-z2eky3-MuiTypography-root {
  font-size: 0.875rem !important;
  text-align: justify;
}