.closeButton {
    background-color: #3e71c8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
  }

.closeButton:hover {
    background-color: #aaa;
  }

  .creatorPhotoImg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .containerItineraries {
    text-align: center;
  }

  .itinerariesHeading {
    text-align: center;
  }

  .itinerariesList {
    list-style-type: none;
    padding: 0;
  }

  .itineraryItem {
    margin-bottom: 20px;
  }

  .mainImage {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
  }

  .itineraryName {
    font-weight: bold;
  }

  .divider {
    border-top: 5px solid #ccc;
    margin: 10px 0;
  }
