.searchContainer{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
   
}

.inputSearch{
    width: 300px;
    height: 50px;
    background-color: rgba(255, 68, 0, 0.418);
    border: none;
    font-size: 10pt;
    float: left;
    color: #4e555d;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
}