.searchContainer{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
   
}

.inputSearch{
    width: 300px;
    height: 50px;
    background-color:#3e71c87d;
    border: none;
    font-size: 10pt;
    float: left;
    color: #4e555d;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 40px;
    height: 40px;
    background-color: #3e71c8;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .scroll-button:hover {
    background-color: #333;
  }
  

  .noResultsMessage {
    bottom: 20px;
    left: 50%;
    font-size: 20px;
  }
  